node_modules/
.generated/
dialects/*/src/
dialects/r6rs/test/corpus/generated-line-endings.scm
dialects/chez/test/corpus/generated-line-endings.scm
dialects/r7rs/test/corpus/generated-line-endings.scm
dialects/guile/test/corpus/generated-whitespace.scm
dialects/*/*.so
dialects/*/*.dll
dialects/*/*.dylib
build/
target/
test.scm
unicode.js
*.wasm
